### Data Engineering Capstone Project

#### Project Summary
The 

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

### Scope:
The project loads the immigration data, and airport-codes then create star schema so it can be analysed by analytics team. For example, below information can be used for recommending more immigration counters in some airports. 

### Sample query:
- Find top5 most visited US states by immigrants in apr/2016.
- Find top5 most visited airport for immigrants.

### Data source:

#### I94 Immigration Data:
This data comes from the US National Tourism and Trade Office. [link](https://travel.trade.gov/research/reports/i94/historical/2016.html)

#### Airport Code Table:
This is a simple table of airport codes and corresponding cities [link](https://datahub.io/core/airport-codes#data)

### Reading data

In [3]:
	
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [22]:
df_immigration =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
df_airport_information = spark.read.csv('./airport-information.csv', header = 'true')

# Data below is extracted from I94_SAS_Labels_Descriptions.SAS
df_airport_code = spark.read.option("delimiter", "=").csv("airport_codes.csv", header= True)
df_arrival_countries = spark.read.option("delimiter", ";").csv('./arrival_country_code.csv', header = 'true')
df_state_information = spark.read.option("delimiter", "=").csv('state_information.csv', header = 'true')
df_arrival_type = spark.read.option("delimiter", "=").csv('./arrival_type_code.csv', header = 'true')
df_visa_type = spark.read.option("delimiter", "=").csv('./visa_type.csv', header = 'true')

### Accessing data
Checking schema, count of rows, and data.

#### Immigration data

In [6]:
df_immigration.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [6]:
df_immigration.take(1)

[Row(cicid=6.0, i94yr=2016.0, i94mon=4.0, i94cit=692.0, i94res=692.0, i94port='XXX', arrdate=20573.0, i94mode=None, i94addr=None, depdate=None, i94bir=37.0, i94visa=2.0, count=1.0, dtadfile=None, visapost=None, occup=None, entdepa='T', entdepd=None, entdepu='U', matflag=None, biryear=1979.0, dtaddto='10282016', gender=None, insnum=None, airline=None, admnum=1897628485.0, fltno=None, visatype='B2')]

In [52]:
df_immigration.count()

3096313

#### Airport Information

In [34]:
df_airport_information.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [35]:
df_airport_information.take(1)

[Row(ident='00A', type='heliport', name='Total Rf Heliport', elevation_ft='11', continent='NA', iso_country='US', iso_region='US-PA', municipality='Bensalem', gps_code='00A', iata_code=None, local_code='00A', coordinates='-74.93360137939453, 40.07080078125')]

In [36]:
df_airport_information.count()

55075

#### Airport Codes

In [37]:
df_airport_code.printSchema()

root
 |-- airport_code: string (nullable = true)
 |-- airport_name: string (nullable = true)

In [38]:
df_airport_code.take(3)

[Row(airport_code='ALC', airport_name='ALCAN, AK'),
 Row(airport_code='ANC', airport_name='ANCHORAGE, AK'),
 Row(airport_code='BAR', airport_name='BAKER AAF - BAKER ISLAND, AK')]

In [39]:
df_airport_code.count()

660

### Arrival Countries

In [31]:
df_arrival_countries.printSchema()

root
 |-- country_code: string (nullable = true)
 |--  country_name: string (nullable = true)

In [32]:
df_arrival_countries.take(3)

[Row(country_code='582',  country_name=" 'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)'"),
 Row(country_code='236',  country_name=" 'AFGHANISTAN'"),
 Row(country_code='101',  country_name=" 'ALBANIA'")]

In [33]:
df_arrival_countries.count()

289

### State Information

In [40]:
df_state_information.printSchema()

root
 |-- state_code: string (nullable = true)
 |-- state_name: string (nullable = true)

In [41]:
df_state_information.take(3)

[Row(state_code='AL', state_name='ALABAMA'),
 Row(state_code='AK', state_name='ALASKA'),
 Row(state_code='AZ', state_name='ARIZONA')]

In [43]:
df_state_information.count()

55

### Data Model

#### Conceptual data model:
Data is arranged in star schema, where immigration table is a fact table. Arrival country, airport detail, visa type, state information, and arrival type are dimension tables.
![data model](data-model.jpeg)

### ETL

#### Immigration table

In [13]:
df_immigration_cleaned = df_immigration.select('cicid', 'i94yr', 'i94mon', 'i94cit', 'i94port', 'arrdate', 'i94mode', 
                                       'i94addr', 'depdate', 'i94bir', 'i94visa', 'count', 'visapost', 'occup',
                                        'gender', 'airline', 'fltno', 'visatype'
                                       ).toDF('id', 'year', 'month', 'country_code', 'airport_code', 'arrival_date', 'arrival_mode_code', 
                                        'us_address', 'departure_date', 'age', 'visa_code', 'count', 'visa_issuing_state', 'us_occupation', 
                                        'gender', 'airline', 'flight_number', 'visa_type_code')

df_immigration_cleaned.take(1)

[Row(id=6.0, year=2016.0, month=4.0, country_code=692.0, airport_code='XXX', arrival_date=20573.0, arrival_mode_code=None, us_address=None, departure_date=None, age=37.0, visa_code=2.0, count=1.0, visa_issuing_state=None, us_occupation=None, gender=None, airline=None, flight_number=None, visa_type_code='B2')]

In [14]:
df_immigration_cleaned.write.parquet("table/immigration")

#### Airport detail table
This table combined the information from immigration dataset(I94_SAS_Labels_Descriptions.SAS) and airport information dataset. airport_codes.csv is extracted from [I94_SAS_Labels_Descriptions](I94_SAS_Labels_Descriptions.SAS)

In [23]:
df_airport_information_cleaned = df_airport_information.dropna(how = "any", subset = ["iata_code"]).dropDuplicates()

In [27]:
df_airport_information_cleaned.createOrReplaceTempView("airport_info")
df_airport_code.createOrReplaceTempView("airport_codes")

df_airport_table = spark.sql("""
    SELECT *
    FROM airport_codes AS ac
    LEFT JOIN airport_info as ai
    ON ac.airport_code = ai.iata_code
""")

In [29]:
df_airport_table.write.parquet("table/airport_details")

### Arrival Countires

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [23]:
# df_city = df_spark.select('i94cit').groupBy('i94cit').agg({'i94cit':'count'})
# df_city.sort('count(i94cit)').show()
# df_city.sort('i94cit').show()
# df_city dropna(how = "any", subset = ["i94cit"])
df_spark.count()

In [38]:
df_immigration = spark.read.parquet("immigration_transformed")

df_demographic = spark.read.parquet("demographic_transformed")
df_arrival_country = spark.read.option("delimiter", ";").csv("country_code.csv", header= True)

In [67]:
df_immigration.createOrReplaceTempView("immigration")
spark.sql('''SELECT us_address, count(*) as count 
          FROM immigration
          WHERE us_address IS NOT NULL
          GROUP BY us_address
          ORDER BY count DESC
          ''').show(5)

+----------+------+
|us_address| count|
+----------+------+
|        FL|621701|
|        NY|553677|
|        CA|470386|
|        HI|168764|
|        TX|134321|
+----------+------+
only showing top 5 rows

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

![data model](data-model.png)

# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.